
* {

    box-sizing: border-box;
}

.single-product-container{

    background-color: aqua;

}

.single-product{

    background-color: antiquewhite;
    margin: 4%;
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;}