thead {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

tr {
    border: 1px solid #ccc;
    font-size: large;
    font-weight: 500;
}

.table-options{

    text-align: center;
}